/* loginStyle.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
    color: #333;
    overflow: auto; 
  }
  
  h1 {
    color: #1e90ff;
    margin-bottom: 20px;
  }
  
  form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin: 10px 0;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #007bb5;
  }

  .backButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.backButton:hover {
    background-color: #c82333;
}
  